
.Menu {
    /*background-color: rgb(185, 122, 39);*/
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    position: absolute;
    border-radius: 0;
}

.Title {
    height: 48px;
    vertical-align: center;
    border-radius: 0px;
    border-style:inset;
    border-width: 2px;
    border-top: 0px;
    border-right: 0px;
    border-color: black;
}

.MenuContents {
    display: flex;
    flex-direction: column;
}

.MenuItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1px;
    padding-left: 16px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
}

.DropdownContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    flex-basis: 100%;
    text-align: left;
    order: 1;
    width: 100%;
}

.ScrollContainer {
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: "thin"; /*for FireFox*/
    scrollbar-color: "rgba(0, 0, 0, 0.5) transparent";
    height: 100%; 
}